body {
    font-family: Arial;
}

b {
  font-size: 15px;
}

sup {
  height: 0;
  font-size: 5px 0 0;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
}

.inline {
    display: grid;
    grid-template-columns: 110px 1fr;
    width: fit-content;
    row-gap: 10%;
}

.centre {
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
}

.num {
    width: 80px;
}

.selection {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.option {
    text-align: left;
}

.single-event {
    display: none;
    grid-template-columns: 1fr 5fr;
    width: 300px;
    row-gap: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.full-year {
    display: none;
    margin-left: 10px;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}

.submit {
    margin-top: 10px;
}

.output {
    margin-top: 10px;
}

.output-container { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    gap: 5px;
}

.surface {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    row-gap: 4px;
}

.check {
    top: 0px;
}

/* The container */
.check-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
}
  
  /* Hide the browser's default radio button */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}
  
  /* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}
  
  /* When the radio button is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
  
  /* Style the indicator (dot/circle) */
.check-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.sign-up-content {
  width: 230px;
  height: 300px;
  padding: 30px;
  margin: auto;
  background-color: #2196F3;
  border-radius: 10px;
}

.sign-up-input {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid black;
}
