@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
}

form {
  width: 100%;
}

b {
  font-size: 15px;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 400;
}

p {
  font-optical-sizing: auto;
  font-weight: 200;
  text-decoration: none;
}

li, a, button{
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

sup {
  height: 0;
  font-size: 5px 0 0;
}

.flex-align {
  background-color: transparent;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  position: relative;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.nav-links a::before {
  content: '';
  display: block;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  width: 0%;
  background-color: #edf0f1;
  transition: all ease-in-out 0.3s;
}

.nav-links a:hover::before {
  width: 100%;
  background-color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.flex-align {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.wrapper {
  width: 420px;
  margin: auto;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(237, 240, 241, 0.2);
}

.wrapper h1{
  text-align: center;
  font-size: 36px;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(237, 240, 241, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  transition: border-color ease 0.3s;
}

.input-box input::placeholder {
  color: #edf0f1;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box i.suffix {
  font-size: 14px;
  font-style: normal;
}

.input-box p {
  position: absolute;
  font-weight: 200;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
  transition: all ease 0.3s;
  pointer-events: none;
  color: rgba(237, 240, 241, 0.9);
}

.input-box input:focus {
  border-color: rgba(237, 240, 241, .8);
}

.input-box input:focus + p {
  font-weight: 500;
  color: rgba(237, 240, 241, 1);
  caret-color: transparent;
}

.input-box input:-webkit-autofill,
.input-boxinput:-webkit-autofill:hover,
.input-boxinput:-webkit-autofill:focus,
.input-boxinput:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fdfdfd;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #24252A;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.input-box input:valid + p {
  font-size: 10px;
  top: 0;
  font-weight: 600;
  color: rgba(237, 240, 241, 1);
}

.input-box input:invalid {
  caret-color: transparent;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px; 
}

.wrapper .login-submit {
  width: 100%;
  height: 45px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.remember-forgot label input {
  accent-color: #edf0f1;
  margin-right: 3px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
}

.inline {
    display: grid;
    grid-template-columns: 110px 1fr;
    width: fit-content;
    row-gap: 10%;
}

.centre {
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
}

.num {
    width: 80px;
}

.selection {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.option {
    text-align: left;
}

.single-event {
    display: block;
    grid-template-columns: 1fr 5fr;
    width: 300px;
    row-gap: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.full-year {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}

.submit {
    margin-top: 10px;
}

.output {
    margin-top: 10px;
}

.output-container { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    gap: 5px;
}

.surface {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    row-gap: 4px;
}

.check {
    top: 0px;
}

/* The container */
.check-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 20px;
}
  
  /* Hide the browser's default radio button */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}
  
  /* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}
  
  /* When the radio button is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
  
  /* Style the indicator (dot/circle) */
.check-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.sign-up-content {
  width: 230px;
  height: 300px;
  padding: 30px;
  margin: auto;
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.sign-up-input {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid black;
}

.info-link {
  text-decoration: underline;
  font-weight: 400;
  color: rgba(0,136,169,1);
  transition: all ease 0.3s;
}

.info-link:hover {
  font-weight: 400;
  color: rgba(0,136,169,.8);
}

.home-info-text {
  width: 70%;
  height: fit-content;
  margin: auto;
}

.error {
  color: rgb(255, 0, 0);
  margin: auto;
  font-weight: 600;
}

.output-file {
  text-decoration: underline;
  color: #2196F3;
}

.graph {
  display: flex;
}

.graph h3 {
  writing-mode: vertical-rl;
  margin-bottom: 27%;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}