<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>MEDUSA 2.0</title>
    <div class="nav-bar">
        <div></div>
        
        <a href="/Home" class="nav-bar-cell">Home</a>

        <a href="/Calculator" class="nav-bar-cell">Calculator</a>

        <a href="/Login" class="nav-bar-cell">Login</a>

        <a href="/SignUp" class="nav-bar-cell">Sign Up</a>

        <div></div>
    </div>
</head>
<body>
    <h1>MEDUSA 2.0</h1>
    <h3>A tool for estimating heavy metal pollution from roof, road, and carpark surfaces.</h3>
    <p>Modelled Estimates of Discharges for Urban Stormwater Assessments (MEDUSA) simulates heavy metal loading contribution from 
        individual urban surfaces for a single rainfall event or multiple events (full year).  The tool allows the estimation of 
        total suspended solids (TSS), total zinc (TZn), total copper (TCu), dissolved zinc (DZn), and dissolved copper (DCu), from 
        roofs, roads, and carparks.  To run the tool, you need to select a surface type (roof, road, carpark), provide the surface 
        area, select the surface material type, and provide climate inputs for a single or full year rainfall events.  Climatic 
        inputs include average rainfall intensity during event (INT), duration (DUR), antecedent dry days (ADD), and rainfall pH 
        (~6.5 for New Zealand).</p>
</body>
</html>