<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        <div>
            <div class="surface">

                <label class="check-container">Roof
                <input class="check" type="checkbox" id="roof_" name="roof_" onclick="onlyOne(this),surface_ty()" checked>
                <span class="checkmark"></span>
                </label>
                
                <label class="check-container">Road
                <input class="check" type="checkbox" id="road_" name="road_" onclick="onlyOne(this),surface_ty()">
                <span class="checkmark"></span>
                </label>
                
                <label class="check-container">Carpark
                <input class="check" type="checkbox" id="carpark_" name="carpark_" onclick="onlyOne(this),surface_ty()">
                <span class="checkmark"></span>
                </label>
                
            </div>
            
            <div id="inputs">
                <div class="inline">
                    <div class="centre">Surface Area:</div>
                    <div>
                        <input type="number" class="num" id="area" name="area" min="1" step=".00000001" required> m<sup>2</sup>
                    </div>

                    <label for="type">Material type:</label>

                    <div id="roof">
                        <select name="roof_type" id="roof_type" class="selection" method="POST" required>
                            <option value="">-- Select option --</option>
                            {% for type in roof_type %}
                            <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="road" style="display: none;">
                        <select name="road_type" id="road_type" class="selection" method="POST" required>
                            <option value="">-- Select option --</option>
                            {% for type in road_type %}
                            <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="carpark" style="display: none;">
                        <select name="carpark_type" id="carpark_type" class="selection" method="POST" required>
                            <option value="">-- Select option --</option>
                            {% for type in carpark_type %}
                            <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label for="event">Simulation:</label>
                    <select name="event" onclick="roof_sy()" id="event" class="selection" required>
                        <option value="">-- Select option --</option>
                        <option value="1" class="option">Full year</option>
                        <option value="2" class="option">Single event</option>
                    </select>
                </div>

                <br>

                <div class="single-event" id="single-event">
                    
                    <div class="centre">ADD:</div>
                    <div>
                        <input type="number" class="num" id="ADDipt" name="ADD" min="0" step=".00000001" required> day
                    </div>

                    <div class="centre">INT:</div>
                    <div>
                        <input type="number" class="num" id="INTipt" name="INT" min="0" step=".00000001" required> mm/h
                    </div>

                    <div class="centre">DUR:</div>
                    <div>
                        <input type="number" class="num" id="DURipt" name="DUR" min="0" step=".00000001" required> h
                    </div>

                    <div class="centre">PH:</div>
                    <div>
                     <input type="number" class="num" id="PHipt" name="PH" min="0" step=".00000001" required>
                    </div>
                </div>

                <div class="full-year" id="full-year"> 
                    <div class="year-info">
                        <div>
                            <input class="year_check" type="checkbox" id="location_" name="location_" onclick="onlyOne(this),fy_input()" checked>
                            <label for="location_">Year</label>
                        </div>
                        <div>
                            <input class="year_check" type="checkbox" id="file_" name="file_" onclick="onlyOne(this),fy_input()">
                            <label for="file_">csv File</label>
                        </div>
                    </div>
                    <div id="location">
                        <label for="location">Year:</label>
                        <select name="location" id="location_input" class="selection" required>
                            <option value="">-- Select option --</option>
                            <option value="climate_events_2011_CCC.csv" class="option">2011</option>
                            <option value="CCC-2018-climate.csv" class="option">2018</option>
                            <option value="CCC-2020-climate.csv" class="option">2020</option>
                            <option value="CCC-2021-climate.csv" class="option">2021</option>
                        </select>
                    </div>
                    <div id="csv">
                        <input id="csv_input" type="file" accept=".csv" class="selection" name="csv_input" method="POST" required>
                    </div>
                </div>

                <button type="submit" class="submit" id="submit">Submit</button>
            </div>
        </div>
    </form>
    {% if single %}
        <div class="output">

            <div class="output-container" id="road-output">
                <div class="info-prompt">TSS:</div> 
                <div class="info" id="TSS">{{ data[0] }} mg</div>
                <div class="info-prompt">TZn:</div> 
                <div class="info" id="TZn">{{ data[1] }} mg</div>
                <div class="info-prompt">DZn:</div> 
                <div class="info" id="DZn">{{ data[2] }} mg</div>
                <div class="info-prompt">TCu:</div> 
                <div class="info" id="TCu">{{ data[3] }} mg</div>
                <div class="info-prompt">DCu:</div> 
                <div class="info" id="DCu">{{ data[4] }} mg</div>
                <div class="info-prompt">Water</div> 
                <div class="info" id="Water">{{ data[5] }} L</div>
                <div class="info-prompt">Flow Rate</div> 
                <div class="info" id="FlowRate">{{ data[6] }} L/min</div>
                <div class="info-prompt">Conc. TSS:</div> 
                <div class="info" id="TSS">{{ data[7] }} mg/L</div>
                <div class="info-prompt">Conc. TZn:</div> 
                <div class="info" id="TZn">{{ data[8] }} mg/L</div>
                <div class="info-prompt">Conc. DZn:</div> 
                <div class="info" id="DZn">{{ data[9] }} mg/L</div>
                <div class="info-prompt">Conc. TCu:</div> 
                <div class="info" id="TCu">{{ data[10] }} mg/L</div>
                <div class="info-prompt">Conc. DCu:</div> 
                <div class="info" id="DCu">{{ data[11] }} mg/L</div>
            </div>

            <br>
            {% endif %}
            {% if graph %}
                <h3>TSS</h3>
                <canvas id="TSSChart" style="width:100%;max-width:600px"></canvas>
                <h3>TZn</h3>
                <canvas id="TZnChart" style="width:100%;max-width:600px"></canvas>
                <h3>TCu</h3>
                <canvas id="TCuChart" style="width:100%;max-width:600px"></canvas>
            {% endif %}

    <script>
        function surface_ty() {
            var inputs = document.getElementById("inputs");
            var road = document.getElementById("road");
            var roof = document.getElementById("roof");
            var carpark = document.getElementById("carpark");

            var road_type = document.getElementById("road_type");
            var roof_type = document.getElementById("roof_type");
            var carpark_type = document.getElementById("carpark_type");
            if (document.getElementById("roof_").checked) {
                inputs.style.display = "block";
                roof.style.display = "block";
                road.style.display = "none";
                carpark.style.display = "none";

                road_type.removeAttribute("required");
                roof_type.setAttribute("required", "required");
                carpark_type.removeAttribute("required");
            } else if (document.getElementById("road_").checked) {
                inputs.style.display = "block";
                road.style.display = "block";
                roof.style.display = "none";
                carpark.style.display = "none";

                road_type.setAttribute("required", "required");
                roof_type.removeAttribute("required");
                carpark_type.removeAttribute("required");
            } else if (document.getElementById("carpark_").checked) {
                inputs.style.display = "block";
                carpark.style.display = "block";
                roof.style.display = "none";
                road.style.display = "none";

                road_type.removeAttribute("required");
                roof_type.removeAttribute("required");
                carpark_type.setAttribute("required", "required");
            } else {
                roof.style.display = "none";
                road.style.display = "none";
                carpark.style.display = "none";
                inputs.style.display = "none";
            }
        }

        function roof_sy() {
            var input = document.getElementById("event").value;
            var FLInfo = document.getElementById("full-year");
            var SEInfo = document.getElementById("single-event");

            var ADD = document.getElementById("ADDipt");
            var INT = document.getElementById("INTipt");
            var DUR = document.getElementById("DURipt");
            var PH = document.getElementById("PHipt");

            var file_ = document.getElementById('csv_input')
            var location_ = document.getElementById('location_input')
            if (input == 1){
                FLInfo.style.display = "block";
                SEInfo.style.display = "none";
                ADD.removeAttribute("required");
                INT.removeAttribute("required");
                DUR.removeAttribute("required");
                PH.removeAttribute("required");
                fy_input();
                
            }
            else if (input == 2){
                SEInfo.style.display = "grid";
                FLInfo.style.display = "none";
                ADD.setAttribute("required", "required");
                INT.setAttribute("required", "required");
                DUR.setAttribute("required", "required");
                PH.setAttribute("required", "required");
                file_.removeAttribute("required");
                location_.removeAttribute("required");
            }
            else{
                FLInfo.style.display = "none";
                SEInfo.style.display = "none";
            }
        }

        function onlyOne(checkbox) {
            var checkboxes = document.getElementsByClassName(checkbox.className);
            for (let i = 0; i < checkboxes.length;i++) {
                if (checkboxes.item(i) !== checkbox){
                    checkboxes.item(i).checked = false;
                }
                else {
                    checkboxes.item(i).checked = true;
                }
            }
        }

        function fy_input() {
            var file = document.getElementById('csv');
            var location = document.getElementById('location');
            var file_ = document.getElementById('csv_input');
            var location_ = document.getElementById('location_input');

            if (document.getElementById('file_').checked){
                file.style.display = "grid";
                location.style.display = "none";
                file_.setAttribute("required", "required");
                location_.removeAttribute("required");
            }
            else if (document.getElementById('location_').checked) {
                location.style.display = "grid";
                file.style.display = "none";
                location_.setAttribute("required", "required");
                file_.removeAttribute("required");
            }
        }
        surface_ty();
        roof_sy();
        fy_input();
    </script>

    <script>
        var barColor = "blue";
        function drawChart(graph_data) {
        // Set Data
        window.onload = function() {
            xValues = graph_data[0]
            yValues = graph_data[1]
            new Chart("TSSChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColor,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true
                        }
                    }],
                    }
                }
            });

            xValues = graph_data[0]
            yValues = graph_data[2]
            new Chart("TCuChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColor,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true
                        }
                    }],
                    }
                }
            });

            xValues = graph_data[0]
            yValues = graph_data[3]
            new Chart("TZnChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColor,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true
                        }
                    }],
                    }
                }
            });
        };
        };
        
        drawChart({{ graph_data|safe }});
    </script>
    {% endblock %}
</body>
</html>