{%extends 'layout.html'%}
{% block content %}
<div class="flex-align">
    <div class="home-info-text">
        <h1>Website name</h1>
        <h2>A tool for estimating heavy metal pollution from roof, road, and carpark surfaces.</h3>
        <p>Modelled Estimates of Discharges for Urban Stormwater Assessments (MEDUSA) simulates heavy metal loading contribution from 
            individual urban surfaces for a single rainfall event or multiple events (full year).  The tool allows the estimation of 
            total suspended solids (TSS), total zinc (TZn), total copper (TCu), dissolved zinc (DZn), and dissolved copper (DCu), from 
            roofs, roads, and carparks.  To run the tool, you need to select a surface type (roof, road, carpark), provide the surface 
            area, select the surface material type, and provide climate inputs for a single or full year rainfall events.  Climatic 
            inputs include average rainfall intensity during event (INT), duration (DUR), antecedent dry days (ADD), and rainfall pH 
            (~6.5 for New Zealand).</p><br>
            <p>Further information on the tool and its application can be found in these scientific journal publications:</p>
            <a class="info-link" href="https://www.mdpi.com/2073-4441/12/4/969">Predicting Event-Based Sediment and Heavy Metal Loads in Untreated Urban Runoff from Impermeable Surfaces</a><br>
            <a class="info-link" href="https://www.sciencedirect.com/science/article/pii/S0301479722016498?via%3Dihub">Influences of zinc loads in urban catchment runoff: Roof type, land use type, climate and management strategies</a>
    </div>
</div>
{% endblock %}