<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/Image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/Image/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>MEDUSA</title>
</head>
<body>
    <header>
        <img class="logo" scr="static/Image/Placeholder.png">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/Single_Event">Single Event Simulation</a></li>
                <li><a href="/Multi_Event">Multi Event Simulation</a></li>
            </ul>
        </nav>
        <a class="login" href="/Login"><button>{{ login_text }}</button></a>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="footer-top">
    
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 William Cochrane</p>
        </div>
    </footer>
</body>
</html>