{%extends 'layout.html'%}
{% block content %}
<div class="grid-align">
    {% if graph %}
    <div class="output">
        <div class="output-container">
            <b>Surface:</b>
            <p>{{ input_data[0] }}</p>
            <b>Area:</b>
            <p>{{ input_data[1] }}m<sup>2</sup></p>
            <b>Material:</b>
            <p>{{ input_data[2] }}</p>
            <a href="{{ output_file }}" download class="output-file">
                <button type="menu">Data <i class='bx bxs-download'></i></button>
            </a>
        </div>
    </div>
    {% else %}
    <br>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="wrapper" {% if error %}style="border-color: rgba(255, 0, 0, .75);"{% endif %}>
            <p class="error">{{ error_message }}</p><br>
            <div class="surface">

                <label class="check-container">Roof
                <input class="check" type="checkbox" id="roof_" name="roof_" onclick="onlyOne(this),surface_ty()" checked>
                <span class="checkmark"></span>
                </label>
                
                <label class="check-container">Road
                <input class="check" type="checkbox" id="road_" name="road_" onclick="onlyOne(this),surface_ty()">
                <span class="checkmark"></span>
                </label>
                
                <label class="check-container">Carpark
                <input class="check" type="checkbox" id="carpark_" name="carpark_" onclick="onlyOne(this),surface_ty()">
                <span class="checkmark"></span>
                </label>
                
            </div>

            <div class="input-box">
                <input type="text" id="ME-area" name="area" min=".01" maxlength="30" step=".01" value='' onpaste="return false" required >
                <p>Area</p>
                <i class="suffix">m<sup>2</sup></i>
            </div>

            <div id="roof" class="select-container">
                <select name="roof_type" id="roof_type" class="selection" method="POST" required>
                    <option value="">-- Select Material --</option>
                    {% for type in roof_type %}
                    <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>

            <div id="road" style="display: none;" class="select-container">
                <select name="road_type" id="road_type" class="selection" method="POST" required>
                    <option value="">-- Select Material --</option>
                    {% for type in road_type %}
                    <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>

            <div id="carpark" style="display: none;" class="select-container">
                <select name="carpark_type" id="carpark_type" class="selection" method="POST" required>
                    <option value="">-- Select Material --</option>
                    {% for type in carpark_type %}
                    <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>
            <div class="year-info">
                <div>
                    <input class="year_check" type="checkbox" id="location_" name="location_" onclick="onlyOne(this),fy_input()" checked>
                    <label for="location_">Climate data</label>
                </div>
                <div>
                    <input class="year_check" type="checkbox" id="file_" name="file_" onclick="onlyOne(this),fy_input()">
                    <label for="file_">csv File</label>
                </div>
            </div>
            <div id="location" class="select-container">
                <select name="location" id="location_input" class="selection" required>
                    <option value="">-- Select Climate Data --</option>
                    <option value="static/climate_data/climate_events_2011_CCC.csv" class="option">Christchurch 2011</option>
                    <option value="static/climate_data/CCC-2018-climate.csv" class="option">Christchurch 2018</option>
                    <option value="static/climate_data/CCC-2020-climate.csv" class="option">Christchurch 2020</option>
                    <option value="static/climate_data/CCC-2021-climate.csv" class="option">Christchurch 2021</option>
                    {% for file in files %}
                    <option value="{{ file[1] }}" class="option">{{ file[0] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>
            <div id="csv">
                <br>
                <input id="csv_input" type="file" accept=".csv" name="csv_input" method="POST" required>
                <div class="input-box">
                    <input type="text" id="file_name" name="file_name" maxlength="30" required method="POST">
                    <p>File name</p>
                </div>
            </div>
            <button type="submit" class="submit" id="submit">Submit</button>
        </div>
    </form>
    {% if graph %}
        <div class="graph-output">
            <div class="graph-output-container">
                <div class="graph">
                    <h3>TSS</h3>
                    <canvas id="TSSChart" style="width:100%;max-width:600px"></canvas>
                </div>

                <div class="graph">
                    <h3>TZn</h3>
                    <canvas id="TZnChart" style="width:100%;max-width:600px"></canvas>
                </div>

                <div class="graph">
                    <h3>TCu</h3>
                    <canvas id="TCuChart" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>
        </div>
    {% endif %}
</div>
    <script>
        function surface_ty() {
            var road = document.getElementById("road");
            var roof = document.getElementById("roof");
            var carpark = document.getElementById("carpark");

            var road_type = document.getElementById("road_type");
            var roof_type = document.getElementById("roof_type");
            var carpark_type = document.getElementById("carpark_type");
            if (document.getElementById("roof_").checked) {
                roof.style.display = "flex";
                road.style.display = "none";
                carpark.style.display = "none";

                road_type.removeAttribute("required");
                roof_type.setAttribute("required", "required");
                carpark_type.removeAttribute("required");
            } else if (document.getElementById("road_").checked) {
                road.style.display = "flex";
                roof.style.display = "none";
                carpark.style.display = "none";

                road_type.setAttribute("required", "required");
                roof_type.removeAttribute("required");
                carpark_type.removeAttribute("required");
            } else if (document.getElementById("carpark_").checked) {
                carpark.style.display = "flex";
                roof.style.display = "none";
                road.style.display = "none";

                road_type.removeAttribute("required");
                roof_type.removeAttribute("required");
                carpark_type.setAttribute("required", "required");
            } else {
                roof.style.display = "none";
                road.style.display = "none";
                carpark.style.display = "none";
            }
        }

        function onlyOne(checkbox) {
            var checkboxes = document.getElementsByClassName(checkbox.className);
            for (let i = 0; i < checkboxes.length;i++) {
                if (checkboxes.item(i) !== checkbox){
                    checkboxes.item(i).checked = false;
                }
                else {
                    checkboxes.item(i).checked = true;
                }
            }
        }

        function fy_input() {
            var file = document.getElementById('csv');
            var location = document.getElementById('location');
            var file_ = document.getElementById('csv_input');
            var file_name = document.getElementById('file_name')
            var location_ = document.getElementById('location_input');

            if (document.getElementById('file_').checked){
                file.style.display = "grid";
                location.style.display = "none";
                file_.setAttribute("required", "required");
                file_name.setAttribute("required", "required");
                location_.removeAttribute("required");
            }
            else if (document.getElementById('location_').checked) {
                location.style.display = "flex";
                file.style.display = "none";
                location_.setAttribute("required", "required");
                file_.removeAttribute("required");
                file_name.removeAttribute("required");
            }
        }
        surface_ty();
        fy_input();

        document.getElementById("file_name").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890_".indexOf(chr) >= 0)
            return true;
        else 
            return false;
    };

        document.getElementById("ME-area").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("0123456789".indexOf(chr) >= 0) {
            return true;
        }
        else if (".".indexOf(chr) >= 0) {
            if (document.getElementById("ME-area").value.indexOf(".") >= 0) {
                return false;
            }
            else 
                return true;
        }
        else
            return false;
    };

    const input = document.getElementById('csv_input')

    input.addEventListener('change', (event) => {
    const target = event.target
        if (target.files && target.files[0]) {

        // Maximum allowed size is 1MB 
        const maxAllowedSize = 1 * 1024 * 1024;
        if (target.files[0].size > maxAllowedSize) {
            target.value = ''
        }
    }
    });
    </script>

    <script>
        var barColor = "#2196F3";
        function drawChart(graph_data) {
        // Set Data
        window.onload = function() {
            xValues = graph_data[0]
            yValues = graph_data[1]
            new Chart("TSSChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColor,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true,
                        callback: function(value, index, ticks) {
                        return value + ' mg';}
                        }
                    }],
                    }
                }
            });

            xValues = graph_data[0]
            yValues = graph_data[3]
            new Chart("TCuChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColor,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true,
                        callback: function(value, index, ticks) {
                            return value + ' mg';
                        }
                        }
                    }],
                    }
                }
            });

            xValues = graph_data[0]
            yValues = graph_data[2]
            new Chart("TZnChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColor,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    
                    scales: {
                        
                    yAxes: [{
                        
                        ticks: {
                        beginAtZero: true,
                        callback: function(value, index, ticks) {
                        return value + ' mg';}
                        }
                    }],
                    }
                }                
            });
        };
        };
        {% if graph %}
        drawChart({{ graph_data|safe }});
        {% endif %}
    </script>
{% endblock %}
