<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>MEDUSA 2.0</title>
</head>
<body>
    <header>
        <img class="logo" scr="static\Image\Placeholder.png">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/Multi_Event">Multi Event Simulation</a></li>
                <li><a href="/Single_Event">Single Event Simulation</a></li>
            </ul>
        </nav>
        <a class="login" href="/Login"><button>Login</button></a>
    </header>
    <h1>you need to login</h1>
    <a class="login" href="/Login"><button>Login</button></a>
</body>
</html>