<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runoff Calculator</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <p>username</p>
        <input type="text" id="SignUp-username" name="username" required>
        <p>email</p>
        <input type="email" id="SignUp-email"  name="email" required>
        <p>password</p>
        <input type="password" id="SignUp-password"  name="password" required>
        <p>redoPassword</p>
        <input type="password" id="SignUp-redoPassword" name="redoPassword" required>
        <input type="submit">
    </form>
</body>
</html>