{%extends 'layout.html'%}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data"> 
    <div class="flex-align">
        {% if single %}
        <div class="output">
            <div class="output-container">
                <h1>Input</h1><br>
                <div class="info-prompt">Surface:</div> 
                <div class="info">{{ input_data[0] }}</div>
                <div class="info-prompt">Area:</div> 
                <div class="info">{{ input_data[1] }} m<sup>2</sup></div>
                <div class="info-prompt">Material:</div> 
                <div class="info">{{ input_data[2] }}</div>
                <div class="info-prompt">ADD:</div> 
                <div class="info">{{ input_data[3] }} days</div>
                <div class="info-prompt">INT:</div> 
                <div class="info">{{ input_data[4] }} mm/h</div>
                <div class="info-prompt">DUR:</div> 
                <div class="info">{{ input_data[5] }} h</div>
                <div class="info-prompt">pH:</div> 
                <div class="info">{{ input_data[6] }}</div>
            </div>
        </div>
        <br>
        {% endif %}
        <div class="wrapper" {% if error %}style="border-color: rgba(255, 0, 0, .75);"{% endif %}>
            <p class="error">{{ error_message }}</p><br>
            <div class="surface">
                <label class="check-container">Roof
                <input class="check" type="checkbox" id="roof_" name="roof_" onclick="onlyOne(this),surface_ty()" checked>
                <span class="checkmark"></span>
                </label>
                
                <label class="check-container">Road
                <input class="check" type="checkbox" id="road_" name="road_" onclick="onlyOne(this),surface_ty()">
                <span class="checkmark"></span>
                </label>
                
                <label class="check-container">Carpark
                <input class="check" type="checkbox" id="carpark_" name="carpark_" onclick="onlyOne(this),surface_ty()">
                <span class="checkmark"></span>
                </label>
                
            </div>
            <div class="input-box">
                <input type="number" id="SE-area" 
                name="area" min=".01" step=".01" required>
                <p>Area</p>
                <i class="suffix">m<sup>2</sup></i>
            </div>
            <div id="roof" class="select-container">
                <select name="roof_type" id="roof_type" class="selection" method="POST" required>
                    <option value="">-- Select Material --</option>
                    {% for type in roof_type %}
                    <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>
            <div id="road" style="display: none;" class="select-container">
                <select name="road_type" id="road_type" class="selection" method="POST" required>
                    <option value="">-- Select Material --</option>
                    {% for type in road_type %}
                    <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>
            <div id="carpark" style="display: none;" class="select-container">
                <select name="carpark_type" id="carpark_type" class="selection" method="POST" required>
                    <option value="">-- Select Material --</option>
                    {% for type in carpark_type %}
                    <option value="{{ type[0] }}" class="option">{{ type[2] }}</option>
                    {% endfor %}
                </select>
                <div class="icon-container">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </div>
            <div class="input-box">
                <input type="number" id="ADDipt" 
                name="ADD" min=".01" step=".01" value='' onpaste="return false" required>
                <p>ADD</p>
                <i class="suffix">day</i>
            </div>
            
            <div class="input-box">
                <input class="" type="number" id="INTipt" 
                name="INT" min=".01" step=".01" value='' onpaste="return false" required>
                <p>Intensity</p>
                <i class="suffix">mm/h</i>
            </div>
            <div class="input-box">
                <input type="number" id="DURipt" 
                name="DUR" min=".01" step=".01" value='' onpaste="return false" required>
                <p>Duration</p>
                <i class="suffix">h</i>
            </div>
            <div class="input-box">
                <input type="number" id="PHipt" 
                name="PH" min="0" step=".01" value='' onpaste="return false" required>
                <p>pH</p>
            </div>
            <button type="submit" class="submit" id="submit">Submit</button>
        </div>
        {% if single %}
        <div class="output">
            <div class="output-container">
                <h1>Output</h1><br>
                <div class="info-prompt">TSS:</div> 
                <div class="info" id="TSS">{{ data[0] }} mg</div>
                <div class="info-prompt">TZn:</div> 
                <div class="info" id="TZn">{{ data[1] }} mg</div>
                <div class="info-prompt">DZn:</div> 
                <div class="info" id="DZn">{{ data[2] }} mg</div>
                <div class="info-prompt">TCu:</div> 
                <div class="info" id="TCu">{{ data[3] }} mg</div>
                <div class="info-prompt">DCu:</div> 
                <div class="info" id="DCu">{{ data[4] }} mg</div>
                <div class="info-prompt">Water</div> 
                <div class="info" id="Water">{{ data[5] }} L</div>
                <div class="info-prompt">Flow Rate</div> 
                <div class="info" id="FlowRate">{{ data[6] }} L/min</div>
                <div class="info-prompt">Conc. TSS:</div> 
                <div class="info" id="TSS">{{ data[7] }} mg/L</div>
                <div class="info-prompt">Conc. TZn:</div> 
                <div class="info" id="TZn">{{ data[8] }} mg/L</div>
                <div class="info-prompt">Conc. DZn:</div> 
                <div class="info" id="DZn">{{ data[9] }} mg/L</div>
                <div class="info-prompt">Conc. TCu:</div> 
                <div class="info" id="TCu">{{ data[10] }} mg/L</div>
                <div class="info-prompt">Conc. DCu:</div> 
                <div class="info" id="DCu">{{ data[11] }} mg/L</div>
            </div>
        </div>
        <br>
    {% endif %}
    </div>
</form>
<script>
    function surface_ty() {
        var road = document.getElementById("road");
        var roof = document.getElementById("roof");
        var carpark = document.getElementById("carpark");
        var road_type = document.getElementById("road_type");
        var roof_type = document.getElementById("roof_type");
        var carpark_type = document.getElementById("carpark_type");
        if (document.getElementById("roof_").checked) {
            roof.style.display = "flex";
            road.style.display = "none";
            carpark.style.display = "none";
            road_type.removeAttribute("required");
            roof_type.setAttribute("required", "required");
            carpark_type.removeAttribute("required");
        } else if (document.getElementById("road_").checked) {
            road.style.display = "flex";
            roof.style.display = "none";
            carpark.style.display = "none";
            road_type.setAttribute("required", "required");
            roof_type.removeAttribute("required");
            carpark_type.removeAttribute("required");
        } else if (document.getElementById("carpark_").checked) {
            carpark.style.display = "flex";
            roof.style.display = "none";
            road.style.display = "none";
            road_type.removeAttribute("required");
            roof_type.removeAttribute("required");
            carpark_type.setAttribute("required", "required");
        }
    }
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByClassName(checkbox.className);
        for (let i = 0; i < checkboxes.length;i++) {
            if (checkboxes.item(i) !== checkbox){
                checkboxes.item(i).checked = false;
            }
            else {
                checkboxes.item(i).checked = true;
            }
        }
    }
    surface_ty();

    document.getElementById("SE-area").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("-".indexOf(chr) >= 0)
            return false;
    };
    document.getElementById("ADDipt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("-".indexOf(chr) >= 0)
            return false;
    };
    document.getElementById("INTipt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("-".indexOf(chr) >= 0)
            return false;
    };
    document.getElementById("DURipt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("-".indexOf(chr) >= 0)
            return false;
    };
    document.getElementById("PHipt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("-".indexOf(chr) >= 0)
            return false;
    };

</script>
{% endblock %}
