{%extends 'layout.html'%}
{% block content %}
<div class="flex-align">
    <div class="Admin-Wrapper">
        <div class="Admin-List">
            <b>Username</b>
            <b>Email</b>
            <b>Date Joined</b>
        </div>
       <br>
        {% for user in users %}
        <div class="Admin-List">
            <p>{{ user.username}}</p>
            <p>{{ user.email}}</p>
            <p>{{ user.date_joined }}</p>
            <button value="{{user.id}}"><i class='bx bxs-trash'></i></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}