{%extends 'layout.html'%}
{% block content %}
<div class="flex-align">
    <div class="wrapper">
        <p>Welcome {{ user.name }}.</p>
        <div>
            <p>downloaded files</p>
            {% for file in downloaded_files %}
                <div>
                    <p>{{ file.name }}</p>
                    {{ file.upload_user_id }}
                    <button>Remove</button>
                </div>
            {% endfor %}
        </div>

        <div class="File-Upload-Container">
            <p>uploaded files</p>
            <div>
                <b>File Name</b>
                <b>Downloads</b>
                <b>Public</b>
            </div>
            <br>
            {% for file in uploaded_files %}
                <div>
                    <p>{{ file.name }}</p>
                    {% if file.public == 1 %}
                    <p>{{ file.downloads }}</p>
                    <i class='bx bx-check' style="color: green;"></i>
                    {% else %}
                    <br>
                    <i class='bx bx-x' style="color: red;"></i>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
        <form action="/create-portal-session" method="POST">
            <input type="hidden" id="session-id" name="session_id" value="https://billing.stripe.com/p/login/test_cN2dQU05lcTheRy4gg" />
            <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
        </form>
        <form action="/Logout" method="POST">
            <button id="checkout-and-portal-button" type="submit">Logout</button>
        </form>
    </div> 
</div>
{% endblock %}