<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/Image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/Image/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <title>MEDUSA</title>
</head>
<body>
    <header>
        <img class="logo" scr="static/Image/Placeholder.png">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/Single_Event">Single Event Simulation</a></li>
                <li><a href="/Multi_Event">Multi Event Simulation</a></li>
                {% if admin %}
                <li><a href="/Admin">Admin</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if logged_in %}
            <a class="login" href="/Dashboard"><button>Dashboard</button></a>
        {% else %}
        <div class="flex-align">
            <ul class="nav-links">
                <li><a href="/SignUp">Sign Up</a></li>
            </ul>
            <a class="login" href="/Login"><button>Login</button></a>
        </div>
        {% endif %}
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="footer-top">
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 William Cochrane</p>
        </div>
    </footer>
</body>
</html>