{%extends 'layout.html'%}
{% block content %}
    <div class="flex-align">
        <div class="wrapper" {% if error %}style="border-color: rgba(255, 0, 0, .75);"{% endif %}>
            <form action="" method="POST" enctype="multipart/form-data">
                <h1>Sign Up</h1>
                {{ form.hidden_tag() }}
                <div class="input-box" {% if username_error %} style="border-color: rgba(255, 0, 0, .75);"{% endif %} value='' onpaste="return false">
                    {{ form.username }}
                    <p>Username</p>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box" {% if email_error %} style="border-color: rgba(255, 0, 0, .75);"{% endif %}>
                    {{ form.email }}
                    <p>Email</p>
                    <i class='bx bx-envelope' ></i>
                </div>
                <div class="input-box" {% if password_error %} style="border-color: rgba(255, 0, 0, .75);"{% endif %}>
                    {{ form.password }}
                    <p>Password</p>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-box">
                    {{ form.confirm_password }}
                    <p>Confirm Password</p>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <p class="error">{{ error_message }}</p><br>
                
                <div class="remember-forgot">
                    <label>
                        <p>By clicking register, you agree to our</p>
                        <a href="/Privacy_Policy">Privacy Policy</a>
                    </label>
                </div>
                <div style="justify-items: center;">
                    {{ form.recaptcha }}
                    <br>
                </div>
                <div  class="login-submit">{{ form.submit }}</div>
                
                <div class="register-link">
                    <p>Already have an account? 
                    <a href="/Login">Login here</a></p>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("SignUp-username").onkeypress = function(e) {
            var chr = String.fromCharCode(e.which);
            if ("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890_.@".indexOf(chr) >= 0)
                return true;
            else 
                return false;
        };
    </script>
{% endblock %}